<div class="search-sort">
    <button class="btn" (click)="onAdd()">Add Employee</button>

    <button class="btn" (click)="cardView = !cardView">
        {{ cardView ? 'Switch to Table View' : 'Switch to Card View' }}
    </button>
    <input
        type="text"
        [formControl]="searchNameControl"
        placeholder="Search by name"
    />
    <input
        type="text"
        [formControl]="searchEmailControl"
        placeholder="Search by email"
    />

    <div class="sort-buttons">
        <button class="btn" (click)="onSort('fullName')">
        Name {{ sortField==='fullName' ? (sortDirection==='asc'?'▲':'▼') : '' }}
        </button>
        <button class="btn" (click)="onSort('startDate')">
        Start Date {{ sortField==='startDate' ? (sortDirection==='asc'?'▲':'▼') : '' }}
        </button>
        <button class="btn" (click)="onSort('skillCount')">
        # Skills {{ sortField==='skillCount' ? (sortDirection==='asc'?'▲':'▼') : '' }}
        </button>
    </div>
</div>

<div *ngIf="!cardView" class="table-wrapper">
    <table class="employee-table">
    <thead>
        <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Position</th>
        <th>Start Date</th>
        <th># Skills</th>
        <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr
        *ngFor="let emp of filteredAndSorted$ | async"
        app-employee-card
        [employee]="emp"
        (edit)="onEdit(emp)"
        (delete)="onDelete(emp.id)"
        ></tr>
    </tbody>
    </table>
</div>

<div *ngIf="cardView" class="card-container">
  <app-grid-employee-card
    *ngFor="let emp of filteredAndSorted$ | async"
    [employee]="emp"
    (edit)="onEdit(emp)"
    (delete)="onDelete(emp.id)"
  ></app-grid-employee-card>
</div>

<app-modal *ngIf="showFormModal" (closed)="onModalClose()">
    <h2 modal-title>
        {{ editingEmployee ? 'Edit Employee' : 'Add Employee' }}
    </h2>
    
    <app-employee-form
        modal-body
        [employee]="editingEmployee"
        (saved)="onSave($event)"
        (cancel)="onModalClose()"
    ></app-employee-form>
</app-modal>